# Maven
target/
*.class
*.jar
*.war
*.ear

# IDE
.idea/
*.iml
.vscode/
*.suo
*.user

# Spring Boot
*.log
logs/

# Secrets (ne jamais committer)
src/main/resources/application.properties
application-prod.properties
.env
.claude

# OS
.DS_Store
Thumbs.db
